@media (min-width: 760px) {
    
    .banner {
        width: 80%;
        margin: auto;
        display: flex;
        padding-bottom: 3rem;
    }

    .actor_picture_movie {
        width: 30%;

    }

    .actor{
        min-width: 30rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
        padding-top: 2rem;
        padding-bottom: 2rem;
    }

    .actors {
        padding-top: 4rem;
    }

    .container_actors {
        display: grid;
        grid-template-columns: repeat(auto-fill,minmax(30rem, 1fr));
       
    }

    
}

@media (max-width: 760px) {

    .banner {
        width: 80%;
        margin: auto;
        display: flex;
        padding-bottom: 3rem;
    }

    .actor_picture_movie {
        width: 30%
    }
}


h3 {
    font-size: 24px;
    font-weight: bold;
    text-decoration: underline;
}


