@media (min-width: 760px) {
    .imgMovies{
        max-width: 15rem;
        height: auto;
        padding-right: 2rem;
        
    }

    .containerImageMobile{
        display: none;
    }
    
    .containerMovie{
        display: flex;
        flex-direction: row;
        margin: 2rem 0 5rem 0;
    }

    .generalInformations {
        width: 90%;
    }

    .banner {
        width: 80%;
       margin: auto;
       display: flex;
       padding-bottom: 3rem;
    }
}

@media (max-width: 760px) {

    .containerMovie{
        display: flex;
        flex-direction: column;
        margin: 1rem 0 2rem 0 ;
        display: flex;
        align-items: center;
    }

    .containerImageDesktop{
        display: none;
    }

    .imgMovies{
        max-width: 100%;
        height: auto;
         
    }
    .containerImageMobile {
        padding: 1rem 1rem;
    } 

    .banner {
        width: 100%;
    }
}


h3 {
    font-size: 24px;
    font-weight: bold;
    text-decoration: underline;
}

.synopsisTitle {
    font-weight: bold;
}

.synopsis {
    padding-top: 1rem;
    font-size: 18px;
}

a {
    color: black !important;
    text-decoration: none;   
}
